<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ValidaWeb</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="perm === 'Admin'" class="nav-item active">
        <a class="nav-link" [routerLink]="'/usuarios'">Usuarios</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/clientes'">Clientes</a>
      </li>
      <li *ngIf="perm === 'Admin'" class="nav-item active">
        <a class="nav-link" [routerLink]="'/propostas'">Propostas</a>
      </li>
      <li *ngIf="perm === 'Admin'" class="nav-item active">
        <a class="nav-link" [routerLink]="'/relatorios'">Relatorio</a>
      </li>
    </ul>
  </div>

  <button class="btn-primary mr-5" (click)="trocaSenha()">Trocar Senha</button>
  <button class="btn-dark" (click)="logout()">Sair</button>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
