<div class="w-100">
  <h1>Trocar Senha</h1>
  <form [formGroup]="formSenha">
    <div class="row">
      <div class="col-12">
        <div>
          <label for="novasenha">
            Nova Senha
          </label>
          <input id="novasenha" type="password" formControlName="novaSenha">
        </div>
      </div>
    </div>
  </form>
  <div class="w-100 d-flex justify-content-center align-items-center mt-5">
    <button class="btn-danger" (click)="cancel()">Cancelar</button>
    <button class="ml-2" (click)="save()" >Salvar</button>
  </div>